html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
.upload_failed {
  width: 75%;
}

.main_container {
  padding-top: 50px;
}
.navbar {
  background-color: #777;
  color: #eee;
}
.logo {
  color: #eee;
  font-size:300%;
}
.description {
  padding: 40px 15px;
  text-align: center;
}
.form-horizontal {
  width: 30%;
}
.center {
  margin: auto;
  text-align: center
}

.upload-form {
  margin-top: 40px;
}

.upload-btn {
  padding: 10px;
}

.navbar-brand {
  color: #eee;
}

footer {
  padding: 1rem;
  color: #999999;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
}
