---
---
{% include description.html %}

<div class="upload_file center" id="upload_file">

    <h2 id="title-upload-file">Upload a File</h2>

    {% include upload_failed.html %}

    {% include upload_success.html %}

    <form class="upload-form center col-12 col-sm-11 col-md-8 col-lg-7 col-xl-7" id="upload-form">

        <div class='form-group custom-file'>
            <input type="file" id="file" name="file" required="" class="custom-file-input form-control d-none">
            <label class="custom-file-label form-control" for="file">Choose file</label>
        </div>

        <div class='form-group'>
            <input type="password" class="form-control" id="upload-password" placeholder="Password"
                   autocomplete="new-password"/>
        </div>

        {% include advanced_settings.html %}

        <div class='form-group'>
            <div class="btn btn-lg btn-success upload-btn col-8 center" id="upload-submit">Upload File</div>
            <div class="btn btn-lg btn-success upload-btn col-8 center" id="uploading-btn">
                Uploading
                <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>
            </div>
        </div>

    </form> <!-- upload_form -->

</div> <!-- /upload_file -->
<script src="/js/upload.js"></script>
<script crossorigin="anonymous"
        integrity="sha512-25FJQEwK2HBc2s9GWmXaCBAYaLt4lKwRYFsLQ+P8I+bofPuTTu7ntTh96lXpgr3c7vnjVjfCAn03QnB/GdDRcQ=="
        src="/js/bs-custom-file-input.js"></script>
