<phpunit bootstrap="src/com/carlgo11/tempfiles/Autoload.php" colors="true">
    <testsuites>
        <testsuite name="tempfiles">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="phpunit" value="true"/>
    </php>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>