---
---
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body.dark {
  background-color: #101010;
  color: #ddd;
}

.upload_failed {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.main_container {
  padding-top: 50px;
}

.navbar {
  background-color: #eee;
  color: #222;
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
}

.navbar.dark {
  background-color: #222;
  color: #eee;
}

#logo {
  color: #eee;
  width: 50px;
}

#id {
  width: auto;
}

#deletionpass {
  width: auto;
}

#d-failed-text {
  margin-bottom: 10px;
  margin-left: 5px;
}

#d-failed-head {
  margin-left: 5px;
}

#d-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#description-head {
  margin-top: 0;
}

#upload-password.dark {
  color: #C5C5C5;
  background-color: #222222;
  box-shadow: none;
}

#upload-password {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  width: 100%;
  height: 42px;
  border: medium none;
  font-size: 16px;
  padding: 5px 9px 0;
  color: #444;
}

#settings-button {
  background-color: inherit;
  border: 0;
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#advanced-settings {
  display: none;
  margin-bottom: 20px;
  text-align: left;
  height: 68px;
}

#max-views {
width: 55px;
color: #222;
text-align: center;
margin-left: 5px;
margin-right: 10px;
}

.btn {
  border-radius: 0;
}

.d-failed-input {
  margin-bottom: 5px;
}

.description {
  padding-top: 0;
  padding-bottom: 40px;
  text-align: center;
}

.center {
  margin: auto;
  text-align: center;
}

.upload-form {
  margin-top: 40px;
  float: none;
}

.upload-btn {
  padding: 10px;
  margin-top: 10px;
}

footer {
  padding: 1rem;
  color: #999999;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
}

.nocolor {
  color: inherit;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
