<div class='noselect' id="settings-button" data-toggle="collapse" data-target="#advancedsettings" aria-expanded="false"
     aria-controls="advancedsettings">
    Advanced settings
    <span class="fa fa-angle-down" id="settings-btn-icon"></span>
</div>
<div class="collapse" id="advancedsettings">
    <div class="custom-control" style="display: flex; justify-content: flex-start; padding-left: 0">
        <div class="col-3" style="padding-left: 0">
            <label for="max-views" class="noselect">Max viewers:</label>
        </div>
        <div class="col-6">
        <input type="range" class="custom-range" id="max-views" style="background-color: inherit" min="1" max="26" value="26">
        </div>
        <div class="col-1"
            label for="max-views" class="noselect" id="max-views-text">Infinite</label>
    </div>
</div>
</div>
