
<div id="upload_success">
    <h3 class="text-success">Success! <span class="fa fa-check"></span></h3>
    <div class="form-group row text-success">
        <label class="col-form-label col-md-2 col-sm-12 col-success" for="url">Link</label>
        <div class="col-md-7 col-sm-11">
            <input class="form-control select" type="text" readonly="" id="url">
        </div>
    </div>
    <div class="form-group row text-success">
        <label class="col-form-label col-md-2 col-sm-12" for="id">ID</label>
        <div class="col-md-2 col-sm-11">
            <input class="form-control select" type="text" readonly="" id="id">
        </div>
    </div>
    <div class="form-group row text-success">

        <label class="col-form-label col-md-2 col-sm-12" for="deletionpass">Deletion Password</label>
        <div class="col-md-4 col-sm-11">
            <input class="form-control select" type="text" readonly="" id="deletionpass">
        </div>
    </div>
    <div class="btn btn-success " id="back-btn"><span class="fa fa-arrow-left"></span> Back</div>
</div> <!-- /upload_success -->
