<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
  <link href="/css/tempfiles.css" rel="stylesheet">
  <title>{{ site.title }}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="/img/logo_light.svg" id="logo"></a><a class="navbar-brand nocolor" href="/">TempFiles</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
      </div> <!--/nav-collapse -->
    </div>
  </nav> <!-- /navbar -->
  <div class="container main_container">
    {{ content }}
  </div> <!-- /container -->
  <footer>
    <p>Made by <a href="https://carlgo11.com/">Carlgo11</a>. {% if site.github.build_revision != null %} Version: <a id="version" title="{{ site.github.build_revision }}" href="{{ site.github.repository_url }}"></a>{% endif %}</p>
  </footer> <!-- /footer -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
  <script src="/js/night-mode.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>
