<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="res/css/bootstrap.min.css" rel="stylesheet">
  <link href="res/css/tempfiles.css" rel="stylesheet">
  <script src="res/js/jquery.js"></script>
  <script src="res/js/bootstrap.min.js"></script>
  <title>TempFiles</title>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="res/img/logo_light.svg" id="logo"></a><a class="navbar-brand nocolor" href="/">TempFiles</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
      </div><!--/nav-collapse -->
    </div>
  </nav> <!-- /navbar -->
  {{ content }}
  <footer>
    <p>Made by <a href="https://carlgo11.com/">Carlgo11</a>.
      <!-- <?php if (!empty($hashshort)) { ?> Version: <a href="https://github.com/Carlgo11/tempfiles" title="<?php print($hashlong); ?>"><?php print($hashshort); ?></a><?php } ?>--></p>
  </footer> <!-- /footer -->
  <script src="res/js/night-mode.js"></script>
  <script src="res/js/include-html.js"></script>
</body>

</html>
