<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="{{ site.github.project_tagline }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="{{ site.author.name}}">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="supported-color-schemes" content="light dark">
	<meta property="og:type" content="website">
	<title>{{ site.title }}</title>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha3/css/bootstrap.min.css"
		integrity="sha512-fjZwDJx4Wj5hoFYRWNETDlD7zty6PA+dUfdRYxe463OBATFHyx7jYs2mUK9BZ2WfHQAoOvKl6oYPCZHd1+t7Qw=="
		crossorigin="anonymous" />
	<link rel="stylesheet" href="/css/main.css">
	{% if page.title == 'upload' %}
	<link rel="stylesheet" href="/css/upload.css">
	{% endif %}
	<link rel="icon" href="/img/favicon.svg" type="image/svg+xml"/>
	<link rel="icon alternative" href="/img/favicon.png" type="image/png"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png"/>
	<link rel="manifest" href="manifest.json" type="application/manifest+json"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
		crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-static-top navbar-expand-sm">
		<div class="container">
			<a class="navbar-brand nocolor d-none d-lg-block" href="/">
				<img alt="logo" id="logo" src="/img/logo.svg">TempFiles</a>
			<ul class="navbar-nav col-12 col-md-4">
				<li class="nav-item">
					<a class="nav-link" href="/" accesskey="U">Upload</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/download/" accesskey="D">Download</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/delete/" accesskey="R">Delete</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sharex/">ShareX</a>
				</li>
			</ul>
		</div>
	</nav>

	<div id="main" class="center col-12 col-md-11 col-xl-5">
		{{ content }}
	</div>
	<div class="footer">
		<p>Created by <a href="{{ site.author.url }}">@{{ site.author.name }}</a></p>
	</div>
	{% if page.title == 'upload' %}
	<div id="popup"></div>
	<script async src="/js/dragdrop.js"></script>
	<script async src="js/upload.js"></script>
	{% endif %}
	{% if page.title == 'download' %}
	<script async src="/js/download.js"></script>
	{% endif %}
	{% if page.title == 'delete' %}
	<script async src="/js/delete.js"></script>
	{% endif %}
</body>

</html>
